<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MaterIniciativaData.Properties.Settings.MaterIniciativaConnectionString"
            connectionString="Data Source=PC-MJ\SQLEXPRESS;Initial Catalog=MaterIniciativa;Persist Security Info=True;User ID=sa;Password=Marzo2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>